<link rel="stylesheet" href="/css/forgot-pass.css">
<!-- 
    
<div class="main-container">

    <div class="box">
        <h3>Reset Password</h3>
        <form action="/forgot-pass/getEmail" method="post" class="resetPass">
            <input type="email" name="email" placeholder="Enter Your Email" required>
            <input class="btn" type="submit" value="Send Reset Link">
        </form>
    </div>
</div> -->


<div class="box">
    <form action="/forgotPswd/forgot-password" method="post" class="form">
        <h1>Find your Email</h1>
        <input type="email" name="email" placeholder="Your Email" required /><br>
        <input class="signBtn" type="submit" value="Submit">
    </form>
</div>