#home-container {
  display: flex;
  #profileImage {
    width: 50;
    height: 50;
    border-radius: 50%;
  }
  #feed-posts {
    padding: 10px;
    width: 50%;
  }
  #user-friends {
    width: 20%;
    padding: 10px;
    border-left: 1px solid lightgrey;
    height: 100%;
    color: black;
    button {
      border-radius: 20px;
      border: none;
    }
    button:hover {
      transform: scale(1.2);
      transition: ease-in-out 0.2s;
    }
    h3 {
      text-align: center;
    }
    ul {
      padding: 10px 0 10px 0;

      li {
        text-align: start;
        padding: 20px 10px 10px 10px;
        margin-top: 10px;
        list-style: none;
        display: flex;
        flex-direction: row;
        p {
          a {
            text-decoration: none;
            color: black;
          }
        }
        .links {
          a {
            text-decoration: none;
          }
          button {
            border-radius: 20px;
            border: none;
            width: 60px;
          }
          button:hover {
            transform: scale(1.2);
            transition: ease-in-out 0.2s;
          }
          padding-left: 15px;
          display: flex;
          flex-direction: column;
        }
      }
    }
  }
  #user-list {
    padding: 10px;
    margin: 0;
    ul {
      li {
        padding: 20px 10px 10px 10px;
        margin-top: 10px;
        margin-bottom: 10px;
        // background-color: green;
        display: flex;
        flex-direction: row;
        .links {
          a {
            text-decoration: none;
          }
          button {
            border-radius: 20px;
            border: none;
            width: 100px;
          }
          button:hover {
            transform: scale(1.2);
            transition: ease-in-out 0.2s;
          }
          padding-left: 15px;
          display: flex;
          flex-direction: column;
        }
        .add-friend-btn {
          padding-left: 5px;
        }
      }
    }
    h3 {
      text-align: center;
    }
    li {
      text-decoration: none;
      list-style: none;
    }
  }
}
