.main-container {
  //   background-color: yellow;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 80vh;

  .signin-box {
    background-color: rgb(237, 233, 233);
    border-radius: 2%;
    border: 1px solid black;
    h1 {
      font-size: 2rem;
      text-align: center;
      color: grey;
    }
    form {
      display: flex;
      flex-direction: column;
      input {
        margin: 10px 50px;
        padding: 10px;
        outline: none;
      }
      .btn {
        border-style: none !important ;
        margin: 30px 50px;
        background-color: grey;
        cursor: pointer;
      }
      p {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
      }
      a {
        text-decoration: none;
      }
      .fa-google-plus {
        color: black;
      }
    }
  }
}
