.main-container {
  //   background-color: yellow;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 80vh;

  .signin-box {
    background-color: grey;
    border-radius: 2%;
    h1 {
      font-size: 2rem;
      text-align: center;
      color: white;
    }
    form {
      display: flex;
      flex-direction: column;
      input {
        margin: 10px 50px;
        padding: 10px;
        outline: none;
      }
      .btn {
        border-style: none !important ;
        margin: 30px 50px;
        cursor: pointer;
      }
    }
  }
}
