<div>
    <p>
        Hi <%= comment.user.name %>
    </p>
    <br>
    <br>
    <p>
        Your comment <strong>
            <%= comment.content %>
        </strong>just got published. You can see it on the website now!
    </p>
</div>